:root{
    --main-blue:#1c4587;
}



h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
}

.c-text{
    text-align: center;
}



.title{
    background-color: var(--main-blue);
    color: white;
    padding-top: 1rem;
    padding-bottom: .5rem;
}


.title2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-color: tomato;
}


.d-flex{
    display: flex;
}



footer{
    background-color: var(--main-blue);
    min-height: 5rem;
}
